

.Header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: black;
  color: aliceblue;
}
.logo{
  width:100px;
 margin: 10px;
}
.nav-items>ul{
  display: flex;
  list-style-type: none;
  font-size: 17px;
  }
  .nav-items>ul>li{
   padding:10px;
   margin: 10px;
  }
  .res-card{
    padding:5px;
    width:200px;
    box-shadow: 0px 1px 5px black;
  }
  .res-card:hover{
   border: 1px solid black;
   cursor: pointer;
  }
  .card-img{
    width:180px;
  }
  .res-container{
    display: flex;
    flex-wrap: wrap;
  }
  .search{
    padding: 10px;
  }
