@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  html{
    font-family: 'Roboto Condensed', sans-serif;
  }
}


.carousel-loading {
  background-color: #171a29;
  color: hsla(0, 0%, 100%, .8);
  text-align: center;
  padding: 0 20px;
}

.spinner {
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, #ecebeb, hsla(0, 3%, 92%, .51) 53%, hsla(0, 3%, 92%, 0));
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  animation: rotate 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(1turn)
  }
}

.spinner::after {
  position: absolute;
  display: block;
  top: 4px;
  left: 4px;
  width: 72px;
  height: 72px;
  content: "";
  background-color: #171a29;
  border-radius: 50%;
  overflow: hidden;
}

.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }

  to {
    background-position: 1000px 0;
  }
}

.scroll-left,
.scroll-right {
  border-radius: 100%;
  height: 34px;
  padding: 8px 8px 4px;
  background: rgb(226, 226, 231);
  cursor: pointer;
  opacity: 0.5;
}

.custom-shadow {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

@media (max-width:1024px) {
  .text-shadow {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  }
}



 
